html,body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
*{  
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-direction: row;
}
.sidebar{
    background-color:#191718;
    width: 150px;

}
.sidebar-list{

}
.sidebar-list--item{
    padding: 14px 0px 11px 16px ;
    border-bottom: 1px solid #5C5C5C;
    ;
}
.sidebar-list--item:hover{
    background: #5C5C5C;
}
.sidebar-list--item a {
    color: #fff;
    width: 100%;
    width: 15px;
    height: 44px;
    font-weight: 700 !important;
    font-size: 16px;
    line-height: 19px;
}
.content{
    width: 100%;
    margin-top: 20px;
}
.content-logo{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.content-logo > img {
    width: 310px;
    height: 122px;
}
.content-header{
    text-align: center;
    
    background: #EFEFEF;
    margin: 0 129px ;
}
.content-header > h4 {
    padding-bottom: 18px;
    padding-top: 38px;
}
.content-header > p {
    padding: 0 269px 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}
.content-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 129px 182px;
}
.content-title--item{
    margin-right: 50px;
}
.content-title--item:last-child{
    margin-right: 0;
}
.title-header{
    position: relative;
    overflow: hidden;
  
    margin-top: 18px;
}

.title-header > img {
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 16px;
    max-height: 100%;
}
.title-header > p {
}
.footer {
    padding:30px 0px 30px 129px;
    border-top: 1px solid #DEDEDE;
}
@media screen and (max-width: 768px) {
    /* Tùy chỉnh kiểu dáng phù hợp với điện thoại di động */
    .wrapper {
        flex-direction: column;
      }
      .sidebar {
        width: 100%;
      }
      .sidebar-list {
        display: flex;
        width: 100%;
        justify-content: space-around;
      }
      .sidebar-list li {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding: 14px;
      }
      .sidebar-list--item:hover{
        background: #5C5C5C;
        }
      .content{
        display: flex;
        flex-direction: column;
      }
      .content-logo{
        display: flex;
        justify-content: center;
      }
      .content-header {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
      }
      .content-header p {
        padding: 0 30px 20px 30px;
        
      }
      .content-title {
        flex-direction: column;
        margin: 20px 30px;
      }
      .content-title--item {
        margin-right: 0;
        margin-bottom: 20px;
      }
      .footer {
        padding: 20px 30px;
      }
    }
   
    
  /* kiểu dáng cho máy tính bảng */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
      }
      .sidebar {
        width: 100%;
      }
      .sidebar-list {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      .sidebar-list li {
        list-style-type: none;
        width: 100%;
        text-align: center;
      }
      .sidebar-list--item:hover{
        background: #5C5C5C;
        }
      .content{
        display: flex;
        flex-direction: column;
      }
      .content-logo{
        display: flex;
        justify-content: center;
      }
      .content-header {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
      }
      .content-header p {
        padding: 0 50px 20px 50px;
        
      }
      .content-title {
        flex-direction: column;
        margin: 20px 30px;
      }
      .content-title--item {
        margin-right: 0;
        margin-bottom: 20px;
      }
      .footer {
        padding: 26px 20px;
      }
    }
  